#approveTypeRadio button{
    float:right;
}
#billImgBpm{
    float: right;
}
.u-tabs{
    margin-left:20px;
}
.backbutton{
    color: rgb(3,155,229) !important;
    background-color:#ffffff !important;  
    float: left !important;
    border:0px !important;
}
/*
#approveTypeRadio .pap-title .backbutton {
    display: none;
    background:#ffffff
}
*/